* {
    margin: 0;
    padding: 0
}

.fas{

    font-weight: bold;

}
html body {

    font-family: 'Roboto light', sans-serif !important;
    /*color: #00AEDF; !important;*/
}



li  p {
    font-family:'Roboto light', sans-serif !important;



}

html {
    height: 100%
}

#grad1 {
    background-color: #5bc0de;
    /*background-image: linear-gradient(120deg, #65caff, #401afa)*/
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    padding: 10px;

}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    height:70%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #000000;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    /*background: skyblue;*/
    /*font-weight: bold;*/
    /*color: white;*/
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue*/
}

#msform .action-button-previous {
    width: 100px;
    /*background: #616161;*/
    /*font-weight: bold;*/
    /*color: white;*/
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #616161*/
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #C0C0C0;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #C0C0C0
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 14px;
    width: 18%;
    /*float: right;*/
    position: relative
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 1px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #5bc0de
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    border-radius: 0;
    background: black;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;

}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)


}

.fit-image {
    width: 100%;
    object-fit: cover
}

/*.divider-text {*/
/*    position: relative;*/
/*    text-align: center;*/
/*    margin-top: 15px;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.divider-text span {*/
/*    padding: 7px;*/
/*    font-size: 12px;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/

/*.divider-text:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    border-bottom: 1px solid #ddd;*/
/*    top: 55%;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*}*/


/* Modal Content */


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.slider{

   width: 70px;


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*#age{*/

/*    border-bottom-color: red !important;*/

/*}*/

input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%) !important;
}

/* Show green borders when valid */
input:valid {
    border-color: hsl(120, 76%, 50%)!important;
}

footer{
    background-color: #f9f8fd;
    color: black;


}

